.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 200px;
    
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background-color: #7bae37;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .search-icon:hover{
    color: #7bae37; 
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease; 
}

.navbar-cart-icon:hover{
    color: #7bae37; 
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease; 
}

.navbar .active{
    color: #7bae37;
    font-weight: bold;
    border-bottom : 2px solid #7bae37;
}

.navbar:hover{
    cursor: pointer;
}

.navbar-cart-icon{
    position: relative;
}

.navbar-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:40px;
}


.navbar-cart-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }

    .navbar-right{
        gap: 20px;
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px
    }
}

@media (max-width:750px){

    .navbar .logo{
        width: 100px;
    }


    .navbar-menu{
       display: none;
    }

    .navbar-icons{
        gap:20px;
    }

}